.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
# Ignore vendored frameworks, except the opencv2 builds which are tracked (flattened for iOS)
/Frameworks/*
!/Frameworks/opencv2.xcframework
!/Frameworks/opencv2-optimized.xcframework