.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
# Ignore vendored frameworks, except opencv2 which is tracked (flattened for iOS)
/Frameworks/*
!/Frameworks/opencv2.xcframework